<html>
<head>
    <title>index.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
        .s0 { color: #e8bf6a;}
        .s1 { color: #bababa;}
        .s2 { color: #a9b7c6;}
        .s3 { color: #a5c261;}
    </style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
    <tr><td><center>
        <font face="Arial, Helvetica" color="#000000">
            index.html</font>
    </center></td></tr></table>
<pre><span class="s0">&lt;!DOCTYPE </span><span class="s1">html</span><span class="s0">&gt;</span>
&lt;html <span class="s1">lang=</span><span class="s3">&quot;en&quot;</span><span class="s0">&gt;</span>
&lt;head&gt;
    &lt;meta <span class="s1">charset=</span><span class="s3">&quot;UTF-8&quot;</span><span class="s0">&gt;</span>
    &lt;title&gt;<span class="s2">Księgarnia online</span><span class="s0">&lt;/title&gt;</span>
    &lt;link <span class="s1">rel=</span><span class="s3">&quot;stylesheet&quot; </span><span class="s1">href=</span><span class="s3">&quot;https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css&quot;</span><span class="s0">&gt;</span>
    &lt;link <span class="s1">href=</span><span class="s3">&quot;../static/main.css&quot; </span><span class="s1">th:href=</span><span class="s3">&quot;@{/main.css}&quot; </span><span class="s1">rel=</span><span class="s3">&quot;stylesheet&quot;</span><span class="s0">&gt;</span>
 
&lt;/head&gt;
&lt;body&gt;
&lt;div <span class="s1">class=</span><span class="s3">&quot;container&quot;</span><span class="s0">&gt;</span>
    &lt;div <span class="s1">class=</span><span class="s3">&quot;jumbotron home-jumbo&quot;</span><span class="s0">&gt;</span>
        &lt;div <span class="s1">class=</span><span class="s3">&quot;container text-center text-white jumbo-container&quot;</span><span class="s0">&gt;</span>
            &lt;h1 <span class="s1">class=</span><span class="s3">&quot;display-3&quot;</span><span class="s0">&gt;</span><span class="s2">Księgarnia online</span><span class="s0">&lt;/h1&gt;</span>
            &lt;p&gt;<span class="s2">Lista bestselletów z ostaniego miesiąca.</span><span class="s0">&lt;/p&gt;</span>
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div <span class="s1">class=</span><span class="s3">&quot;media col-6 offset-3&quot;</span><span class="s0">&gt;</span>
        &lt;img <span class="s1">src=</span><span class="s3">&quot;https://ecsmedia.pl/c/nieodgadniona-b-iext53817927.jpg&quot; </span><span class="s1">width=</span><span class="s3">&quot;100&quot;</span><span class="s0">&gt;</span>

        &lt;div <span class="s1">class=</span><span class="s3">&quot;media-body&quot;</span><span class="s0">&gt;</span>
            &lt;h5&gt;<span class="s2">Nieodgadniona 27,93 zł</span><span class="s0">&lt;/h5&gt;</span>
            &lt;p&gt;<span class="s2">Kontynuacja bestsellerowej Nieodnalezionej!</span>

                Rok po ucieczce od męża Kasandra Reimann prowadzi spokojne, ustatkowane życie za granicą. Jest przekonana, że udało jej się zostawić wszystko za sobą(...)<span class="s0">&lt;/p&gt;</span>
       &lt;br&gt; &lt;/div&gt;
    &lt;/div&gt;
    &lt;div <span class="s1">class=</span><span class="s3">&quot;media col-6 offset-3&quot;</span><span class="s0">&gt;</span>
        &lt;img <span class="s1">src=</span><span class="s3">&quot;https://ecsmedia.pl/c/tatuazysta-z-auschwitz-b-iext52712249.jpg&quot; </span><span class="s1">width=</span><span class="s3">&quot;100&quot;</span><span class="s0">&gt;</span>
        &lt;div <span class="s1">class=</span><span class="s3">&quot;media-body&quot;</span><span class="s0">&gt;</span>
            &lt;h5&gt; <span class="s2">Tatuażysta z Auschwitz 24,43 zł</span><span class="s0">&lt;/h5&gt;</span>
            &lt;p&gt;<span class="s2">Prawdziwa historia Lalego Sokołowa, który tatuował numery seryjne na ramionach osadzonych w Auschwitz. Milczał przez ponad pół wieku, tuż przed śmiercią zdecydował się opowiedzieć swoje losy. Tatuażysta z Auschwitz to właśnie opowieść Sokołowa, którą usłyszała i spisała autorka.(...)</span><span class="s0">&lt;/p&gt;</span>
            &lt;br&gt; &lt;/div&gt;
    &lt;/div&gt;
    &lt;div <span class="s1">class=</span><span class="s3">&quot;media col-6 offset-3&quot;</span><span class="s0">&gt;</span>

        &lt;img <span class="s1">src=</span><span class="s3">&quot;https://ecsmedia.pl/c/pozwol-mi-wrocic-b-iext53736506.jpg&quot; </span><span class="s1">width=</span><span class="s3">&quot;100&quot;</span><span class="s0">&gt;</span>
        &lt;div <span class="s1">class=</span><span class="s3">&quot;media-body&quot;</span><span class="s0">&gt;</span>
            &lt;h5&gt;<span class="s2">Pozwól mi wrócić 24,99zł</span><span class="s0">&lt;/h5&gt;</span>
            &lt;p&gt;<span class="s2">Powieść autorki bestsellerowych thrillerów „Za zamkniętymi drzwiami” oraz „Na skraju załamania”.</span>

                Ona zniknęła(...)<span class="s0">&lt;/p&gt;</span>
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;

&lt;/body&gt;
&lt;/html&gt;</pre>
</body>
</html>